.game-button__app {
  transition: all 0.5s;
  border: 2px solid #17a1e6;
  border-radius: 15px;
  width: 170px;
  height: 60px;
  margin-right: 10px;
  &:hover {
    background-color: #17a1e6;
    border-radius: 15px;
    color: #fff;
  }
  a {
    text-decoration: none;
    display: block;
    text-align: center;
    //  img {
    //    width: 32px;
    //    height: 32px;
  }
  span {
    display: block;
    padding: 20px 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #17a1e6;
    &:hover {
      display: block;
      color: #fff;
    }
  }
}
