.section-hero {
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 560px;
  position: relative;
  z-index: 3;
  @media (max-width: 1000px) {
    padding: 580px 20px;
  }
}
.background {
  width: 340px;
  height: 340px;
  position: absolute;
  top: 45%;
  right: 5%;
  left: 55%;
  background-image: url("../../Icons/test.png");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 5;
  @media (max-width: 960px) {
    width: 240px;
    height: 240px;
    background-size: cover;
    top: 38%;
    right: 30%;
  }
  @media (max-width: 480px) {
    top: 35%;
    right: 7%;
  }
}
