.star-rating-wrapper {
  white-space: nowrap;
}
.star-rating {
  display: inline;
  margin-right: 15px;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
}
i {
  font-size: 20px;
}
.on {
  color: #17a1e6;
}
.off {
  color: #ccc;
}
