body {
  margin: 0;
  padding: 0;
}

.App {
  // color: orange;
}

.backGroundWrapper {
  height: 100vh;
}

.wrapper_app {
  opacity: 1;

  .rows {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
