.header {
  &__logo {
    width: 90px;
    min-height: 50px;
    padding-left: 20px;
    font-weight: 700;
    a {
      text-decoration: none;
    }
  }
  &__logo-title {
    color: black;
    font-size: 30px;
    margin: 0px;
  }
  &__logo-postTitle {
    margin-top: -18px;
    margin-left: 18px;
    color: blue;
    font-size: 20px;
  }
}
